<%- include("header") -%>

<h2>This is the about us page</h2>

<p>here you will find all the exclusive about us information, very confidential data provided here! don't forget to check out!</p>

<%- include("footer") -%>